In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../cleaned/movies.csv')

In [4]:
df

,movie_id,title,release_year,runtime,genre
0,1,Black Panther: Wakanda Forever,2022.0,161,action
1,2,Avatar: The Way of Water,2022.0,192,action
2,3,Plane,2023.0,107,action
3,4,Everything Everywhere All at Once,2022.0,139,action
4,5,Ant-Man and the Wasp: Quantumania,2023.0,125,action
...,...,...,...,...,...
4224,4225,Tears of the Sun,2003.0,121,war
4225,4226,Freedom's Path,2022.0,131,war
4226,4227,Zulu,1964.0,138,war
4227,4228,Never Look Away,2018.0,189,war
4228,4229,War Machine,2017.0,122,war

In [5]:
df.dtypes

movie_id          int64
title            object
release_year    float64
runtime           int64
genre            object
dtype: object

In [6]:
#i just noticed that release_year is a float type and i will change that to int
df['release_year'] = df['release_year'].astype('Int64')

In [8]:
df.dtypes

movie_id         int64
title           object
release_year     Int64
runtime          int64
genre           object
dtype: object

In [10]:
df.duplicated().sum()

0

In [11]:
df.duplicated(subset=['title'], keep=False).sum()

3011

In [12]:
 duplicate_titles = df[df.duplicated(subset=['title'], keep=False)].sort_values('title')

In [14]:
df.shape

(4229, 5)

In [16]:
df = df.drop_duplicates(subset=['title'])

In [17]:
df.shape

(2348, 5)

In [18]:
df.to_csv('movies.csv', index=False)