In [5]:
import pandas as pd
import numpy as np
import re

In [6]:
df = pd.read_csv('../data/users.csv')

#Removing the duplicates

In [7]:
df.shape

(2051, 6)

In [8]:
df = df.drop_duplicates(subset=['user_id'])

In [9]:
df.shape

(2001, 6)

#Handling missing values

In [10]:
df.isna().sum()

user_id     0
name        0
email      15
age         0
country     7
date        0
dtype: int64

In [11]:
df['email'].head()

0        james.scott660@gmail.com
1      sharon.ferrell49@gmail.com
2      chelsea.ortiz643@gmail.com
3    gregory.pearson379@gmail.com
4    connie.gonzales481@gmail.com
Name: email, dtype: object

In [12]:
#we need some placeholder for the missing email so i have decide it to be missing@gmail.com
df['email'] = df['email'].fillna('missing@gmail.com')

In [13]:
df.isna().sum()

user_id    0
name       0
email      0
age        0
country    7
date       0
dtype: int64

In [14]:
df['country'].tail()

2046               XYZ
2047     United States
2048    United Kingdom
2049    United Kingdom
2050     United States
Name: country, dtype: object

In [15]:
#The missing country value will be filled as Unknown
df['country'] = df['country'].fillna('Unknown')

In [16]:
df.isna().sum()

user_id    0
name       0
email      0
age        0
country    0
date       0
dtype: int64

#Invalid Emails

In [17]:
#SO i just googled the regex for the valid email and it is r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$' and i need re library
def valid(email):
    p = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(p, str(email)))

df['invalid_email'] = ~df['email'].apply(valid)
invalid_emails = df[df['invalid_email']]['email'].tolist() #reference
print(invalid_emails)

['..', 'joseph.young737@@gmail.com', '..', 'kelsey.holland341@@gmail.com', 'jill.berry972@gmail,com', 'lisa.heath.md932', 'user@@domain.com', 'kathryn.wood938@gmail,com', 'karen.brown272@@gmail.com', 'laura.soto528@@gmail.com', 'colleen.davidson850@@gmail.com', '@ gmailcom', ',com', 'gregory.craig691@@gmail.com', 'dataquest.com', 'user@@domain.com', 'dennis.bowers608@@gmail.com', 'cristina.fitzpatrick357@gmail,com', 'dataquest.com', 'laura.hernandez489', 'dataquest.com', 'rebecca.owens297@@gmail.com', 'phillip.walker.md633@gmail,com', 'karl.farrell964@@gmail.com', '..', 'curtis.larson610@gmail,com', 'david.jennings66@@gmail.com', 'user@@domain.com', 'omar.park.md513', 'dillon.ramirez.phd306', ',com', 'kristi.figueroa930@@gmail.com', 'christopher.hall784@gmail,com', 'notatsymbol.com', 'craig.smith698', 'nicole.hill568@gmail,com', '..']

In [18]:
df

,user_id,name,email,age,country,date,invalid_email
0,15000,James Scott,james.scott660@gmail.com,35,India,2024-11-01,False
1,15001,Sharon Ferrell,sharon.ferrell49@gmail.com,26,Australia,2024-11-01,False
2,15002,Chelsea Ortiz,chelsea.ortiz643@gmail.com,38,United Kingdom,2024-11-01,False
3,15003,Gregory Pearson,gregory.pearson379@gmail.com,52,United Kingdom,2024-11-01,False
4,15004,Connie Gonzales,connie.gonzales481@gmail.com,43,Australia,2024-11-01,False
...,...,...,...,...,...,...,...
2046,16996,Erin Jacobs,erin.jacobs381@gmail.com,26,XYZ,2025-01-30,False
2047,16997,Deanna Randolph,deanna.randolph420@gmail.com,27,United States,2025-01-30,False
2048,16998,Brandon Jacobs,brandon.jacobs266@gmail.com,21,United Kingdom,2025-01-30,False
2049,16999,Frederick Bell,frederick.bell509@gmail.com,60,United Kingdom,2025-01-30,False
2050,17000,Jane Ramirez,jane.ramirez381@gmail.com,30,United States,2025-01-30,False

#Age anomalies

In [19]:
df['suspicious_age'] = (df['age'] < 0) | (df['age'] > 100)

In [20]:
df

,user_id,name,email,age,country,date,invalid_email,suspicious_age
0,15000,James Scott,james.scott660@gmail.com,35,India,2024-11-01,False,False
1,15001,Sharon Ferrell,sharon.ferrell49@gmail.com,26,Australia,2024-11-01,False,False
2,15002,Chelsea Ortiz,chelsea.ortiz643@gmail.com,38,United Kingdom,2024-11-01,False,False
3,15003,Gregory Pearson,gregory.pearson379@gmail.com,52,United Kingdom,2024-11-01,False,False
4,15004,Connie Gonzales,connie.gonzales481@gmail.com,43,Australia,2024-11-01,False,False
...,...,...,...,...,...,...,...,...
2046,16996,Erin Jacobs,erin.jacobs381@gmail.com,26,XYZ,2025-01-30,False,False
2047,16997,Deanna Randolph,deanna.randolph420@gmail.com,27,United States,2025-01-30,False,False
2048,16998,Brandon Jacobs,brandon.jacobs266@gmail.com,21,United Kingdom,2025-01-30,False,False
2049,16999,Frederick Bell,frederick.bell509@gmail.com,60,United Kingdom,2025-01-30,False,False
2050,17000,Jane Ramirez,jane.ramirez381@gmail.com,30,United States,2025-01-30,False,False

In [21]:
suspicious_ages = df[df['suspicious_age']][['user_id', 'name', 'age']].values.tolist() #reference
print(suspicious_ages)

[[15006, 'Kristina Thomas', 151], [15109, 'Lisa Mccall', 154], [15310, 'Courtney Howard', 154], [15411, 'Terry Garrison', -5], [15446, 'Leslie Williams', 151], [15480, 'Patricia Wilkerson', 153], [15499, 'Charles Roberts', -5], [15733, 'Tammy Nash', 152], [15890, 'Michael Kelley', 153], [15922, 'Eric Pearson', 153], [15998, 'Mary Ingram', -5], [16167, 'Brian Farmer', 152], [16498, 'Alison Kerr', 152], [16820, 'Samantha Martinez', 154], [16826, 'Vanessa Taylor', 151], [16846, 'Daniel Singleton', 152], [16902, 'Linda Miller', 153], [16917, 'James Ruiz', 153]]

In [22]:
#one way to fix is making all the negative ages to 0 and setting an upper bound of age to 100
df.loc[df['age'] < 0, 'age'] = abs(df.loc[df['age'] < 0, 'age'])

In [23]:
df.loc[df['age'] > 100, 'age'] = 100

#Datatypes

In [24]:
df.dtypes

user_id            int64
name              object
email             object
age                int64
country           object
date              object
invalid_email       bool
suspicious_age      bool
dtype: object

In [25]:
#changes are email to str country to str adn date to datetime format
df['email'] = df['email'].astype(str)
df['country'] = df['country'].astype(str)
df['date'] = pd.to_datetime(df['date'], errors='coerce')

In [26]:
#I notice there are many users on the same date
unique_dates = df['date'].nunique()
print(unique_dates)

91

In [27]:
df.dtypes

user_id                    int64
name                      object
email                     object
age                        int64
country                   object
date              datetime64[ns]
invalid_email               bool
suspicious_age              bool
dtype: object

#Validating Countries

In [28]:
valid_countries = [
    'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 
    'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 
    'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 
    'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 
    'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 
    'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 
    'Congo', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 
    'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 
    'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 
    'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 
    'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 
    'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 
    'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 
    'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 
    'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 
    'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 
    'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 
    'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 
    'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 
    'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 
    'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 
    'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 
    'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 
    'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 
    'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 
    'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 
    'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 
    'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 
    'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 
    'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 
    'Zimbabwe'
]

#as a countermeasure i also use country alias
country_aliases = {
    'USA': 'United States',
    'US': 'United States',
    'U.S.': 'United States',
    'U.S.A.': 'United States',
    'America': 'United States',
    'UK': 'United Kingdom',
    'U.K.': 'United Kingdom',
    'Britain': 'United Kingdom',
    'Great Britain': 'United Kingdom',
    'England': 'United Kingdom',
    'UAE': 'United Arab Emirates',
    'U.A.E.': 'United Arab Emirates',
    'South Korea': 'Korea, South',
    'North Korea': 'Korea, North',
    'Macedonia': 'North Macedonia',
    'Congo-Brazzaville': 'Congo',
    'Congo-Kinshasa': 'Congo',
    'Democratic Republic of the Congo': 'Congo',
    'DRC': 'Congo',
    'Swaziland': 'Eswatini',
    'Burma': 'Myanmar'
}

In [29]:
valid_countries_set = set(valid_countries + list(country_aliases.keys()))
def standardize(country):
    if country in country_aliases:
        return country_aliases[country]
    return country
df['country'] = df['country'].apply(standardize)

In [30]:
df['invalid_country'] = ~df['country'].isin(valid_countries_set)

In [31]:
invalid_countries = df[df['invalid_country']]['country'].unique().tolist() #reference
print(invalid_countries)

['XYZ', 'Unknown', 'palistan', 'shingePore', 'mars', 'ruSSUa', 'INDi', 'Datopia', 'uSa']

In [32]:
df.to_csv('users.csv', index=False)